h1 {
  font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
  font-weight: 400;
  font-style: normal; }

h2 {
  font-family: 'Landmark Inline A', 'Landmark Inline B';
  font-weight: 400;
  font-style: normal; }
