h1, h2, figure {
  margin: 0; }

h1, h2 {
  text-align: center;
  margin: 1rem 0; }

h1 {
  font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
  font-weight: 400;
  font-style: normal;
  font-size: 2.6154rem;
  text-align: center; }

h2 {
  font-family: 'Landmark Inline A', 'Landmark Inline B';
  font-weight: 400;
  font-style: normal;
  font-size: 1.6154rem; }

header figure {
  text-align: center; }
header figure img {
  max-width: 800px; }
