@import 'typography';
@import 'mixins';
@import 'layout';

$black: #222;
$white: #eee;


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 0 1rem;
    margin: 0;
    @include whitney;
}

h1, h2, figure {
    margin: 0;
}

h1, h2 {
    margin: 2rem 0;
}

h1 {
    @include landmark-dimensional;
    
    font-size: $font-size-3;
    @include breakpoint(big) {
        font-size: $font-size-4;
    }

    text-align: center;
}

h2 {
    @include landmark-inline;
    text-align: center;
    font-size: $font-size-2;

    @include breakpoint(big) {
        @include landmark-dimensional;
        font-size: $font-size-3;
    }
}

h3 {
    @include landmark-regular;
    font-size: $font-size-1;
    @include breakpoint(big) {
        font-size: $font-size-2;
    }
}

figure {
    max-width: 100%;
    img {
        width: 100%;
        vertical-align: bottom;
    }
    figcaption {
        text-align: center;
    }
}

pre {
    @include monospace;
    font-size: $font-size-1;
    max-width: 100%;
    overflow-x: scroll;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid darken($white, 30%);
    background: #ddd;
}

.button {
    text-align: center;
    margin: 2rem 0;
    button {
        @include landmark-regular;
        font-size: $font-size-2;
    }
}


header {

    figure {
        margin: 1rem auto;
        width: 800px;
    }

    h2 {
        @include landmark-inline;
        font-size: $font-size-2;
        @include breakpoint(big) {
            @include landmark-inline;
            font-size: $font-size-3;
        }
    }

}

.social {

    #twitter-widget-0 {
        display: block;
        width: 100px;
        margin: 0 auto 1rem auto;
    }

    .fb-like {
        display: block;
        width: 100px !important;
        margin: 0 auto;
    }
}

main {
    width: 100%;
    max-width: 792px;
    margin: 0 auto;
    
    p, ul li {
        margin: 1rem 0;
        line-height: 1.4em;
    }
}

.summary {
    
    .step {
        margin: 1rem 0;
    }

    .animated {
        h3 {
            @include breakpoint(big) {
                @include animation(5s, zip, ease-in);
            }
        }
    }

    .movie {
        h3 {
            display: inline-block;
            margin: 0;
            padding-right: 1rem;
        }
    }

    .attach {
        pre {
            display: none;
        }
    }

}

.demo {
    figure {
        max-width: 100%;
        img {
            width: 100%;
            vertical-align: bottom;
        }
    }
}

@include keyframe (zip) {
    0% {
        -webkit-transform: rotatey(0deg);
    }
    20% {
        -webkit-transform: rotatey(45deg);
    }
    30% {
        -webkit-transform: rotatey(0deg);
    }

}

.author {

    figure {
        border: 1px solid $black;
    }

}

