$font-size-1: 1rem;
$font-size-2: 1.6154rem;
$font-size-3: 2.6154rem;
$font-size-4: 4.2308rem;
$font-size-5: 6.8462rem;

@mixin landmark-dimensional {
    font-family: 'Landmark Dimensional A', 'Landmark Dimensional B'; 
    font-weight: 400; 
    font-style: normal;
}

@mixin landmark-inline {
    font-family: 'Landmark Inline A', 'Landmark Inline B';
    font-weight: 400;
    font-style: normal;
}

@mixin landmark-regular {
    font-family: 'Landmark Inline A', 'Landmark Inline B';
    font-weight: 400;
    font-style: normal;
}

h1, h2, figure {
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin: 1rem 0;
}

h1 {
    @include landmark-dimensional;
    font-size: $font-size-3;
    text-align: center;
}

h2 {
    @include landmark-inline;
    font-size: $font-size-2;
}

header {
    figure {
        text-align: center;
    }
    figure img {
        max-width: 800px;
    }
}
