main {
    > div {
        margin: 4rem auto;
        max-width: 45em;
    }
}

.author {
    
    margin: 2rem auto;

    figure {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    @include breakpoint(big) {
        width: 500px;
        @include clearfix;
        h2 {
            width: 100%;
        }
        figure {
            width: 200px;
        }
        p {
            padding-left: 1rem;
            width: 300px;
            margin: 0 0 1rem 0;
        }

        figure, p {
            float: left;
        }
    }
}

.summary {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(bigger){
        display: flex;
        flex-wrap: wrap;
        .step {
            flex: 1 0 50%;
        }
        .movie {
            display: flex;
            align-items: center;
        }
        .step.attach {
            width: 100%;
            flex: 1 0 auto;
            text-align: center;
            pre {
                display: block;
            }
        }
    }
}