@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($duration, $animation, $timing-function) {
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
	-webkit-animation-timing-function: $timing-function;
    -webkit-animation-iteration-count: infinite;
 
    -moz-animation-delay: 1s;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
	-moz-animation-timing-function: $timing-function;
    -moz-animation-iteration-count: infinite;

    animation-delay: 1s; 
    animation-duration: $duration;
	animation-timing-function: $timing-function;
    animation-name: $animation;
    animation-iteration-count: infinite;
}

@mixin breakpoint($point) {
  @if $point == big {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == bigger {
    @media (min-width: 792px) { @content; }
  }
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin landmark-dimensional {
    font-family: 'Landmark Dimensional A', 'Landmark Dimensional B', verdana, sans-serif; 
//    font-family: verdana;
    font-weight: 400; 
    font-style: normal;
}

@mixin landmark-inline {
    font-family: 'Landmark Inline A', 'Landmark Inline B', verdana, sans-serif;
//    font-family: verdana;
    font-weight: 400;
    font-style: normal;
}

@mixin landmark-regular {
    font-family: 'Landmark Regular A', 'Landmark Regular B', verdana, sans-serif;
//    font-family: verdana;
    font-weight: 400;
    font-style: normal;
}

@mixin whitney {
    font-family: 'Whitney SSm A', 'Whitney SSm B', georgia, serif;
//    font-family: georgia;
    font-weight: 400; 
}

@mixin monospace {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
