body {
    background: black;
}

#video {
    margin: 1em auto;
    display: block;
    height: auto;
    width: 50%;
}

h1, h2 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 2rem;
}

h2 {
    font-size: 2rem;
}

#slides > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin: 0;
}

#slides > div > h2:first-of-type{
    opacity: 0;
}

.circle {
    border: 1px solid #eee;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    opacity: 0;
    margin: 0 auto;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

	animation-name: fade;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
    animation-fill-mode: forwards;

}

@-webkit-keyframes fade {
   0% {
       opacity: 1;
   }

   100% {
       opacity: 0;
   }
}

@keyframes fade {
   0% {
       opacity: 1;
   }

   100% {
       opacity: 0;
   }
}

.grow {
	-webkit-animation-name: grow;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;

	animation-name: grow;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
    animation-fill-mode: forwards;

    opacity: 1 !important;
}

@-webkit-keyframes grow {
   0% {
       width: 5px;
       height: 5px;
   }

   100% {
       width: 50px;
       height: 50px;
   }
}

@keyframes grow {
   0% {
       width: 5px;
       height: 5px;
   }

   100% {
       width: 50px;
       height: 50px;
   }
}